{{#each this}}
<li class='film-item js-film-item list'>
    <div class='film-card js-film-card'>
        <img class='film-image js-film-image' src='https://image.tmdb.org/t/p/w342{{poster_path}}' alt='{{tagline}}' />

        <div class='film-content js-film-content'>
            <h2 class='film-title js-film-title'>{{title}}</h2>
            <ul class="film-descr js-film-descr list">
                <li class="film-descr-item">
                    <ul class='film-genres js-film-genres list'>
                        {{#each genre_ids}}
                        <li class='film-genre js-film-genre'>{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
                <li class="film-descr-item film-release js-film-release">{{release_date}}</li>
                <li class="film-descr-item film-vote js-film-vote"><span class="film-vote-span">{{vote_average}}</span>
                </li>
            </ul>

        </div>
    </div>
</li>
{{/each}}