  {{!-- 

      <div class="modal__poster-container"><img class="modal__poster" src='https://image.tmdb.org/t/p/w342{{poster_path}}'
              alt='poster' /></div>
      <div class="modal__data-container">
          <h1 class="modal__main-title">{{original_title}}</h1>
          <table class="modal__table" >
      
      
              <tr class="modal__data-row">
                  <td class="modal__data-title">Vote &nbsp;/ &nbsp;Votes</td>
      
      
                  <td class="modal__data-description"> <span class="modal__data-description modal__data-description--average">{{vote_average}}</span> / <span class="modal__data-description modal__data-description--count">{{vote_count}}</span> </td>
              </tr>
              <tr class="modal__data-row">
                  <td class="modal__data-title">Popularity</td>
                  <td class="modal__data-description popularity-js">{{popularity}}</td>
              </tr>
              <tr class="modal__data-row">
                  <td class="modal__data-title">Original Title</td>
                  <td class="modal__data-description modal__data-description--title">{{original_title}}</td>
              </tr>
              <tr class="modal__data-row">
                  <td class="modal__data-title">Genre</td>
                  {{#each genre_ids}}
                  <td class="modal__data-description genre-js">{{this}}</td>
                  {{/each}}
              </tr>
      
          </table>
          <h2 class="modal__annotation-title">About</h2>
          <p class="modal__annotation-description">{{overview}}</p>
          <div class="modal__buttons-container"><button type="button" class="modal__watch-list">ADD TO WATCHED</button><button
                  type="button" class="modal__queue-list">ADD TO QUEUE</button></div>
      </div>
  --}}

  <div class='modal__poster-container'>
    <picture>
      <source srcset='https://image.tmdb.org/t/p/w500{{poster_path}}' />
      <img class='modal__poster' src='https://image.tmdb.org/t/p/w342{{poster_path}}' alt='poster' />
    </picture>

      <div class='modal__trailer-wrapper'>
        <button class='modal__trailer-btn js-trailer-btn'
        type='button'
        data-id='{{id}}'
        data-name='{{original_title}}'>
        watch trailer
        </button>
      </div>
    </div>
  </div>
  <div class='modal__data-container'>
    {{#if title}}
      <h1 class='modal__main-title'>{{title}}</h1>
    {{else}}
      {{#if name}}
        <h1 class='modal__main-title'>{{name}}</h1>
      {{/if}}
    {{/if}}

    <ul class='modal__table'>
      
        <li class='modal__table-element'>

          <p class='modal__data-title'>Vote&nbsp;/&nbsp;Votes</p>
          <p>
          <span class='modal__data-description modal__data-description--average'>{{vote_average}}</span>
          /
          <span class='modal__data-description modal__data-description--count'>{{vote_count}}</span>
          </p>
        </li>
    
        <li class='modal__table-element' >
          <p class='modal__data-title'>Popularity</p>
          <p class='modal__data-description popularity-js'>{{popularity}}</p>
        </li>
    
        <li class='modal__table-element' >

          <p class='modal__data-title'>Original Title</p>
      {{#if original_title}}
          <p  class='modal__data-description modal__data-description--title'>{{original_title}}</p>
          {{else}}
          {{#if original_name}}
          <p class='modal__data-description modal__data-description--title'>{{original_name}}</p>
            {{/if}}
            {{/if}}
        </li>
    
        <li class='modal__table-element'>
          <p class='modal__data-title'>Genre</p>
          
              {{#each genre_ids}}
              <p class='modal__data-description modal__data-description--genre genre-js'>{{this}}</p>
              {{/each}}
        </li>
  </ul>

  <h2 class='modal__annotation-title'>About</h2>
  <p class='modal__annotation-description'>{{overview}}</p>
    <div class='modal__buttons-container'>
      <button type='button' class='modal__watch-list'>ADD TO WATCHED</button>
      <button type='button' class='modal__queue-list'>ADD TO QUEUE</button>
  </div>